.KeywordContainer {
  grid-area: keywords;
  margin-left: 10px;
  height: 100%;
  p {
    font-family: $script-font;
    color: white;
    margin: 20px;
    font-size: 24px;
  }
}

.button-holder{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  height: 55vh;
}